**/.terraform
**/.terraform.lock.hcl
**/terraform.tfstate
**/__pycache__
**/.ipynb_checkpoints/
dtc-de-375514-849c13503247.json
week2/data
prefect.api.key
dtc-de-375514-319899402561-bigquery.json
**/.prefectignore